/vendor
/.idea
/node_modules
/public/storage
/public/mix-manifest.json
/Docker/docker/config/certs/certs/grimm.crt
/Docker/docker/config/certs/keys/grimm.key
Homestead.yaml
Homestead.json
.env
*.cache

_ide_helper.php

