@import "~font-awesome/scss/font-awesome";

@import "variables";
@import "bootstrap/bootstrap";
@import "~tinymce/skins/ui/oxide/skin.min.css";

body {
    font-family: 'Lato', sans-serif;
}

.fa-btn {
    margin-right: 6px;
}

.page {
    box-shadow: 7px 2px 3px -3px lighten($light_gray, 10%);
    margin-bottom: 20px;
}

.border-bottom{
    /* TODO: extract statement to _variables.scss */
    $color_env: $color_master;
    @if ($APP_ENV == 'local'){
        $color_env: $color_dev;
    }
    @if ($APP_ENV == 'test'){
        $color_env: $color_test;
    }
    box-shadow: 0px 3px 0px 0px $color_env;
}

.page-title {
    background: $gray_blue;
    border: 1px solid darken($gray_blue, 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.error-title {
        background: $brand-danger;
        border: 1px solid darken($brand-danger, 10%);
    }

    h1 {
        color: $white;
        margin-top: 10px;
        font-weight: 100;
        font-size: $font-size-h2;
        flex-grow: 1;
    }

    a.prev-link {
        color: $white;
    }

    &--subtitle {
        background: lighten($gray_blue, 20%);
        border: 1px solid lighten($gray_blue, 10%);
    }
}

.pagination-container {
    background: $pagination-bg;
    text-align: center;
    border-bottom: 1px solid darken($pagination-bg, 10%);
    padding-bottom: -5px;
    display: flex;
    justify-content: center;

    border-left: 1px solid darken($pagination-bg, 5%);
    border-right: 1px solid darken($pagination-bg, 5%);

    .pagination {
        border-radius: 0;
        padding: 0;
        margin: 0 auto;
    }

    .pagination li * {
        border-top: none;
        border-bottom: none;
    }

    .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
        border-radius: 0;
    }

    > .btn-group {
        margin-top: 1px;
        margin-left: 2px;
    }
}

.tabs-container {
    background: $pagination-bg;
}

.list-content, .page-content {
    background: $white;
    border-left: 1px solid darken($pagination-bg, 5%);
    border-right: 1px solid darken($pagination-bg, 5%);
    border-bottom: 1px solid darken($pagination-bg, 10%);
}

.page-content {
    padding-top: 10px;
    padding-bottom: 20px;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn {
        height: 30px;
    }
}

.search {
    form {
        display: flex;
    }

    .btn {
        border-radius: 1px;
    }

    input, select {
        width: 0;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        border-radius: 1px;
        padding: 0;
        border-width: 0;
    }
}

.table tr:target {
    animation: target-fade 2s 1;
}

.table tr.bg-danger:target {
    animation: target-danger-fade 2s 1;
}

@keyframes target-fade {
    0% {
        background-color: $black;
    }
    100% {
        background-color: $black;
    }
}

@keyframes target-danger-fade {
    0% {
        background-color: fade-in($white_red, .1);
    }
    100% {
        background-color: $white_red;
    }
}

.search:hover input, .search input:focus, .search.active input, .search select:focus + input {
    width: 200px;
    padding: 0 2px 0 2px;
    border-width: 1px;
}

.search:hover select, .search select:focus, .search.active select, .search input:focus ~ select {
    width: 80px;
    padding: 0 2px 0 2px;
    border-width: 1px;
}

.empty-list {
    text-align: center;
}

.button-bar {
    margin-bottom: 10px;
}

.add-button {
    position: absolute;
    right: 15px;
    margin-top: 5px;
}

.action-column {
    width: 120px;
    text-align: center;
}

.check-helper:checked + * {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 1px solid $btn-primary-border;
}

.button-box {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    div {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        display: block;
    }

    h5 {
        margin-top: .5rem;
        font-size: $font-size-base;
    }
}

.alert-container {
    width: 400px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
}

p.collapse-head {
    cursor: pointer;

    &::after {
        content: ' \25BC';
        font-size: $font-size-sm;
    }

    &.collapsed {
        &::after {
            content: ' \25B2';
        }
    }
}

table.collapse.in {
    display: table;
}

.letters-container {
    background: $gray_blue;
    text-align: center;
    display: flex;

    .letters {
        @include clearfix;

        padding: 0 25px;
        margin: 0 auto;

        list-style: none;

        li {
            float: left;

            &.active {

                a {
                    background: darken($gray_blue, 10%);
                }
            }

            a {
                display: inline-block;
                text-decoration: none;
                padding: 10px;
                color: $white;

                &:hover {
                    background: darken($gray_blue, 5%);
                }
            }
        }
    }
}

.deleted-record-info {
    background: $brand-danger;
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;

    .btn {
        background: $brand-danger;
        color: $white;
        border: 1px solid $white;
        display: block;
        margin-top: 15px;
    }
}

// TODO: this should look nicer :/
.toolbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 1px solid darken($pagination-bg, 5%);
    border-right: 1px solid darken($pagination-bg, 5%);

    background-color: $white;
}

.mce-tinymce {
    box-sizing: border-box !important;
    box-shadow: none;
}
