@import "~tailwindcss/base";

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";

@import "~vue-select/src/scss/vue-select";

@import "variables";

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.sm');
        padding: theme('spacing.0');
        box-shadow: theme('boxShadow.xl');
    }
    .card-header{
        padding: theme('spacing.4') theme('spacing.6');
        border-bottom-width: thin;
        border-bottom-color: $gray-300;
        background-color: $gray-100;
    }
    .card-body {
        padding: theme('spacing.6');
        text-align: justify;
    }
}